In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import PolynomialFeatures  
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, root_mean_squared_error

In [3]:
df_residencias = pd.read_excel('residencias.xlsx')
df_residencias.head(30)

    area_m2 quartos idade_casa       preco
0       142       3         39   586352.14
1       388       4          7  1506730.83
2       310       4         38  1222797.41
3      85m2       2         39   587707.93
4       111       3         13    512272.7
5       228       4         31   909621.02
6        60     NaN         37   247910.54
7       142       1         32   569904.87
8       161       5         22   739994.59
9       254       3         14   1023928.2
10  unknown       3         32  1390908.26
11      127       5         24   605736.32
12      139       4         16   625494.83
13      399       3         32  1489389.06
14      191       1         46   685441.33
15      170   three          1   728239.35
16      189       2         13   783014.15
17      348       3         39  1302616.23
18      297       4         39  1196145.84
19      383       5         38  1479541.55
20      333       5          5         NaN
21      231       4          5  1022816.63
22      316       2        old  1228450.59
23      200       5          6   914109.44
24      353       3          7     1388737
25       61       2         41   272516.13
26      292       3         14  1177330.65
27      275       1         46   986156.94
28      384       2         28  1430560.46
29       88       5         32   466478.28

In [ ]:
#Limpando o DataFrame

df_residencias['area_m2'] = pd.to_numeric(df_residencias['area_m2'], errors='coerce')
df_residencias['quartos'] = pd.to_numeric(df_residencias['quartos'], errors='coerce')           #Transformando valores que não numéricos em NaN
df_residencias['idade_casa'] = pd.to_numeric(df_residencias['idade_casa'], errors='coerce')
df_residencias['preco'] = pd.to_numeric(df_residencias['preco'], errors='coerce')

df_residencias = df_residencias.dropna()                                                        #Removendo linhas com valores NaN do DataFrame

df_residencias.head()

   Unnamed: 0  area_m2  quartos  idade_casa       preco
0           0    142.0      3.0        39.0   586352.14
1           1    388.0      4.0         7.0  1506730.83
2           2    310.0      4.0        38.0  1222797.41
4           4    111.0      3.0        13.0   512272.70
5           5    228.0      4.0        31.0   909621.02

In [ ]:
#Definindo Variáveis

X = df_residencias.drop('preco', axis=1)
y = df_residencias['preco']

conversor_polinomial = PolynomialFeatures(degree=2, include_bias=False)
X_poli = conversor_polinomial.fit_transform(X)

In [ ]:
#Treinando o modelo

X_treino, X_teste, y_treino, y_teste = train_test_split(X_poli, y, test_size=0.3, random_state=42)

modelo = LinearRegression()
modelo.fit(X_treino,y_treino)
previsoes = modelo.predict(X_teste)

In [ ]:
#Testando o modelo

print(round(mean_absolute_error(previsoes, y_teste)),2)
print(round(root_mean_squared_error(previsoes, y_teste)),2)

#Dados mostrados no terminal correspondem ao erro médio do modelo

32165 2
169353 2

In [ ]:
#testando modelo com dados informados pelo usuário

dados_usuario = []

try:
    while len(dados_usuario) < 3:    
        #Recebendo a Área do usuário
        area = float(input('Digite aqui a área da casa: '))
        dados_usuario.append(area)

        #Recebendo quantidade de quartos do usuário
        quartos = float(input('Digite aqui quantos quartos tem na casa: '))
        dados_usuario.append(quartos)

        #Recebendo idade da casa do usuário
        idade = float(input('Digite aqui quantos anos a casa tem: '))
        dados_usuario.append(idade)

except ValueError:
    print('O valor digitado é inválido! Por favor, digite um valor válido.')

#Calculando preço baseado nos dados fornecidos pelo usuário   

dados_transformados = conversor_polinomial.transform([dados_usuario])
previsao = modelo.predict(dados_transformados).round(2)

print('---------------------------------------------------------------')
print(f'Sua casa tem o preço de mercado de aproximadamente R${previsao[0]}')
print('---------------------------------------------------------------')

-----------------------------------------------------------------
Sua casa tem o preço de mercado de aproximadamente R$1025218.02
-----------------------------------------------------------------

/home/davi-dos-santos-freire/VSCode/venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2691: UserWarning: X does not have valid feature names, but PolynomialFeatures was fitted with feature names
  warnings.warn(